# ASP.NET Core
# Build and test ASP.NET Core projects targeting .NET Core.
# Add steps that run tests, create a NuGet package, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/dotnet-core

trigger:
- master

pool:
      name: Default

variables:
  buildConfiguration: 'Release'

steps:
- task: DotNetCoreCLI@2
  inputs:
    command: 'restore'
    feedsToUse: 'config'

- script: dotnet build --configuration $(buildConfiguration)
  displayName: 'dotnet build $(buildConfiguration)'
  
- task: DotNetCoreCLI@2
  inputs:
   command: 'test'

- task: SpecFlowPlus@0
  inputs:
    generatorSource: 'FeatureFolder'
    projectFilePath: 'Confoo2022.SpecFlow.Calculator.Specs'
    testExecutionJson: '$(Build.SourcesDirectory)\Confoo2022.SpecFlow.Calculator.Specs\bin\Debug\net6.0\TestExecution.json'

- task: SpecFlowPlus@0
  inputs:
    generatorSource: 'FeatureFolder'
    projectFilePath: 'Confoo2022.SpecFlow.FizzBuzz.Specs'
    testExecutionJson: '$(Build.SourcesDirectory)\Confoo2022.SpecFlow.FizzBuzz.Specs\bin\Debug\net6.0\TestExecution.json'